<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--系统代码配置用于权限控制-->
    <add key="systemcode" value="PEIS" />
    <!--读取权限时候是否使用缓存-->
    <add key="usedcache" value="true" />
    <!--用来记录用户登录编号的key值-->
    <add key="sessionkey" value="authorizationcode" />
    
    <add key="LoginPage" value="~/Login.aspx" />
    <!--无权限跳转页面-->
    <add key="NoAccess" value="~/NoAccess.aspx" />
    <!-- 缓存超时时间 默认 720分钟-->
    <add key="CacheTimeOut"  value="720" />
  </appSettings>
</configuration>