<?xml version="1.0" encoding="utf-8" ?>
<ClientApplicationVersionConfig>
  <!-- winform 客户端 -->
  <ClientApplicationVersion ApplicationIdentifier="PrintingApplication" ApplicationVersion="3.0.0.0" ReportTemplateVersion="1.0.0.0" DownloadUrl="http://localhost:1555/download/daan.ui.PrintingApplication.Setup-3.0.0.0.msi"/>
  
  <!-- 移动App客户端
  <ClientApplicationVersion ApplicationType="PrintingMobileApp" ApplicationVersion="1.0.0.0" ReportTemplateVersion="1.0.0.0" DownloadUrl=""/>-->
  
</ClientApplicationVersionConfig>

