<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="prop.config"/>

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
  </settings>

  <providers resource="providers.config"/>

  <database>   
    <provider name="oracleClient1.0"/>
    <!--<dataSource name="daan"  connectionString="data source=${datasource};user id=${userid};password=${password};Unicode=True"/>-->
    <dataSource name="daan" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=${datasource})(PORT=1555))(CONNECT_DATA=(SID=${database})));User Id=${userid};Password=${password};"/>
  </database>
  <sqlMaps>
    <sqlMap embedded="Common.xml,daan.mapconfig" /><!--系统公用-->
    <!--<sqlMap embedded="dict.Users.xml,daan.mapconfig" />--><!--用户表-->
    <sqlMap embedded="dict.Maintenancelog.xml,daan.mapconfig" /><!--基础字典日志-->
    <sqlMap embedded="dict.Operationlog.xml,daan.mapconfig" /><!--节点操作日志-->
    <sqlMap embedded="dict.Initsyssetting.xml,daan.mapconfig" /><!--当前系统参数-->
    <sqlMap embedded="dict.Initlocalsetting.xml,daan.mapconfig" /><!--本地参数设定-->
    <sqlMap embedded="dict.DictLibrary.xml,daan.mapconfig" /><!--基础资料维护-->    
    <sqlMap embedded="dict.DictLibraryItem.xml,daan.mapconfig" /><!--基础资料明细维护-->
    <sqlMap embedded="dict.Dictlabandtest.xml,daan.mapconfig" /><!--分点对应的项目-->
    <sqlMap embedded="dict.Dictlabandtestprice.xml,daan.mapconfig" /><!--分点对应的项目价格-->
    <sqlMap embedded="dict.Dictdiagnosis.xml,daan.mapconfig" /><!--诊断建议字典-->
    <sqlMap embedded="dict.Dictruleformular.xml,daan.mapconfig" /><!--诊断建议规则公式-->
    <sqlMap embedded="dict.Dictlab.xml,daan.mapconfig" /><!--分点表-->
    <sqlMap embedded="dict.Dictfastcomment.xml,daan.mapconfig" /><!--快速录入模板维护-->
    <sqlMap embedded="dict.Initbasic.xml,daan.mapconfig" /><!--初始化基本资料-->
    <sqlMap embedded="dict.Dictlabdept.xml,daan.mapconfig" /><!--实验室维护表-->
    <sqlMap embedded="dict.Dictcustomer.xml,daan.mapconfig" /> <!--体检单位资料维护表-->
    <sqlMap embedded="dict.Dictuser.xml,daan.mapconfig" /><!--用户资料维护表-->
    <sqlMap embedded="dict.Dictcustomerdiscounted.xml,daan.mapconfig" /><!--体检单位总体价格维护表-->
    <sqlMap embedded="dict.Dictcustomertestdiscount.xml,daan.mapconfig" /><!--体检单位外包价格维护表-->
    <sqlMap embedded="dict.Dictuserandlab.xml,daan.mapconfig" /><!--用户对分点-->
    <sqlMap embedded="dict.Dictuserandlabdept.xml,daan.mapconfig" /><!--用户对物理组-->
    <sqlMap embedded="dict.Dicttestitem.xml,daan.mapconfig" /><!--项目-->
    <sqlMap embedded="dict.Dicttestitemresult.xml,daan.mapconfig" /><!--项目可选结果-->
    <sqlMap embedded="dict.Dicttestgroupdetail.xml,daan.mapconfig" /><!--项目组合明细-->
    <sqlMap embedded="dict.Dictproductdetail.xml,daan.mapconfig" /><!--项目套餐明细-->
    <sqlMap embedded="dict.Dictreporttemplate.xml,daan.mapconfig" /><!--报告模板表-->
    <sqlMap embedded="report.ReportData.xml,daan.mapconfig" />    <!--报告数据-->
    <sqlMap embedded="order.Orderserviceinfo.xml,daan.mapconfig" /><!--客户订单追踪表情况记录-->
    <sqlMap embedded="dict.Dictmember.xml,daan.mapconfig" />    <!--会员表-->
    <sqlMap embedded="dict.DictSmsModule.xml,daan.mapconfig" />    <!--短信模板表-->
    <sqlMap embedded="dict.Dictdiagnosesmutex.xml,daan.mapconfig" />    <!--诊断建议互斥表-->
    <sqlMap embedded="dict.DictSubCompany.xml,daan.mapconfig" /><!--子公司表-->

    <sqlMap embedded="dict.ProjectControl.xml,daan.mapconfig" /> <!--项目对照表-->


    <!--订单主表-->
    <!-- 订单 -->
    <sqlMap embedded="order.Orders.xml,daan.mapconfig" />          <!--订单主表-->
    <sqlMap embedded="order.Orderbarcode.xml,daan.mapconfig" />    <!--订单条码表-->
    <sqlMap embedded="order.Orderproducts.xml,daan.mapconfig" />   <!--订单套餐表-->
    <sqlMap embedded="order.Ordergrouptest.xml,daan.mapconfig" />  <!--订单组合表-->
    <sqlMap embedded="order.Ordertest.xml,daan.mapconfig" />       <!--订单对应明细项目及检验结果等-->
    <sqlMap embedded="order.Orderdiagnosis.xml,daan.mapconfig" /> <!--订单诊断表-->
    <sqlMap embedded="order.Ordernexttest.xml,daan.mapconfig" /><!--订单推荐项目-->
    <sqlMap embedded="order.Orderresultcomment.xml,daan.mapconfig" /><!--总检总体评价-->
    <sqlMap embedded="order.Hpvinstruments.xml,daan.mapconfig" /><!--HPV业务表-->
    <sqlMap embedded="order.OrderException.xml,daan.mapconfig" />
    <sqlMap embedded="order.OrderFileHeader.xml,daan.mapconfig" />
    <sqlMap embedded="order.OrderFileDetail.xml,daan.mapconfig" />
   
    <!--HPV业务表-->
  

    <!-- end订单 -->
    
    <sqlMap embedded="order.Orderlabdeptresult.xml,daan.mapconfig" /> <!--科室小结-->
    <sqlMap embedded="report.Customerresultcomment.xml,daan.mapconfig" /> <!--客户结果评价-->
    <sqlMap embedded="report.Customervaliddiagnosis.xml,daan.mapconfig" /> <!--团检客户有效诊断-->
   
    <sqlMap embedded="order.Customernexttest.xml,daan.mapconfig" /> <!--团检客户有效诊断-->
    <sqlMap embedded="dict.Dictmedhistory.xml,daan.mapconfig" /><!--既往病史表-->
    <sqlMap embedded="dict.Dictfamilymedhistory.xml,daan.mapconfig" /><!--家族病史表-->
    <sqlMap embedded="dict.Dictothermedhistory.xml,daan.mapconfig" /><!--其他病史-药物过敏史-->
    <sqlMap embedded="dict.Dicthealthrecords.xml,daan.mapconfig"/><!--健康档案-->
    
    <!-- 财务 -->
    <sqlMap embedded="bill.Billdetail.xml,daan.mapconfig" />  <!--账单信息头表-->
    <sqlMap embedded="bill.Billhead.xml,daan.mapconfig" />   <!--账单明细表-->
    <sqlMap embedded="bill.Billdetailcancel.xml,daan.mapconfig" /><!--账单作废表-->
    <sqlMap embedded="bill.BillProduct.xml,daan.mapconfig" /><!--账单作废表-->
    <sqlMap embedded="bill.BillStat.xml,daan.mapconfig" /><!--护美产品统计表 zhangwei-->
    <!--账单明细表-->
  </sqlMaps>

</sqlMapConfig>