<?xml version="1.0"?>
<WshelperConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--是否启用【整个】任务计划-->
  <ScheduledEnabled>false</ScheduledEnabled>
  <ScheduledEvents>
    <!--key=唯一标识   is_system_event=是否系统任务 type=执行计划的类,项目名称 enabled=是否启用【单个】任务计划-->
    <Event key="ResultEvent" is_system_event="true" type="daan.taskplan.ResultEvent,daan.taskplan" enabled="true" />
  </ScheduledEvents>
  <!--任务计划间隔时间【统一时间的】，分钟-->
  <TimerMinutesInterval>360</TimerMinutesInterval>
</WshelperConfigInfo>