<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!--下面2个节点是需要添加的配置声明-->
    <section name="ExtAspNet" type="ExtAspNet.ConfigSection, ExtAspNet" requirePermission="false" />
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="iBATIS">
      <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    </sectionGroup>
  </configSections>

  <!--这里是上面声明的2个配置节点-->
  <securityCryptographyConfiguration defaultHashInstance="MD5Cng" defaultSymmetricCryptoInstance="DPAPI Symmetric Crypto Provider">
    <hashProviders>
      <add name="MD5Cng" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.MD5Cng, System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" />
    </hashProviders>
    <symmetricCryptoProviders>
      <add type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.DpapiSymmetricCryptoProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" scope="LocalMachine" name="DPAPI Symmetric Crypto Provider" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <cachingConfiguration defaultCacheManager="CacheManager">
    <cacheManagers>
      <add name="CacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add name="Isolated Storage Cache Store" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" encryptionProviderName="" partitionName="Isolated Storage Cache Store" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
    <encryptionProviders>
      <add name="Symmetric Crypto Provider" type="Microsoft.Practices.EnterpriseLibrary.Caching.Cryptography.SymmetricStorageEncryptionProvider, Microsoft.Practices.EnterpriseLibrary.Caching.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" symmetricInstance="DPAPI Symmetric Crypto Provider" />
    </encryptionProviders>
  </cachingConfiguration>
  <!--这里是要添加的WebService调用配置-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthorizationSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--这里是WebService的调用地址-->
      <endpoint address="http://127.0.0.1:5566/AuthorizationMockService" binding="basicHttpBinding" bindingConfiguration="AuthorizationSoap" contract="AuthorityServiceReference.AuthorizationSoap" name="AuthorizationSoap" />
    </client>
  </system.serviceModel>
  <!-- 可用的配置项（这里列的都是默认值）: Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="blue" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" -->
  <ExtAspNet EnableBigFont="true" DebugMode="false" AjaxTimeout="180" />
  <iBATIS>
    <logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="inline" />
      </logFactoryAdapter>
    </logging>
  </iBATIS>
  <!--log4net config-->
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/log.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="6" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%timstamp] [%level] [%thread] [%logger] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <!--<appender-ref ref="RollingFile" />-->
    </root>
  </log4net>

  <appSettings>
    <add key="path" value="~\admin\report\reportTemplate\" />
    <!--打包下载查找的原始PDF文件存放路径-->
    <add key="PdfFile" value="D:\tijianshaomiaofuwu\PdfFile\" />
    <!--打印报告序列化数据文件存储路径-->
    <add key="SerializeReportDateFile" value="E:\reportData\"/>
    <!-- 调用webservice登录信息 -->
    <add key="UserName" value="440100112" />
    <add key="Password" value="zhouy" />
    <add key="URL" value="http://tj.daanhealth.com:778/CenterService.asmx" />
    <!-- 短信webservice地址 -->
    <add key="SmsUrl" value="http://202.116.104.7:50002/WsSendSms.asmx" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <!--<pages enableViewState="false"></pages>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="FastReport, Version=1.7.1.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />
        <add assembly="FastReport.Bars, Version=1.7.1.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />
        <add assembly="FastReport.Editor, Version=1.7.1.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />
        <add assembly="FastReport.Install, Version=1.0.0.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />
        <add assembly="FastReport.VSDesign, Version=1.0.0.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />
        <add assembly="FastReport.Web, Version=1.7.1.0, Culture=neutral, PublicKeyToken=DB7E5CE63278458C" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableSessionState="true">
      <controls>
        <add assembly="ExtAspNet" namespace="ExtAspNet" tagPrefix="ext" />
      </controls>
    </pages>
    <httpModules>
      <add name="ExtAspNetScriptModule" type="ExtAspNet.ScriptModule, ExtAspNet" />
      <add name="HttpModule" type="TimeHelper.HttpModule, TimeHelper" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="ExtAspNet.ResourceHandler, ExtAspNet" />
      <add path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport" validate="false" />
      <add verb="*" path="Login.aspx" type="Daan.Authority.Handler.MicrosoftHandler, Daan.Authority.Handler" />
      <add verb="*" path="NoAccess.aspx" type="Daan.Authority.Handler.MicrosoftHandler, Daan.Authority.Handler" />
      <add verb="*" path="*.aspx" type="Daan.Authority.Handler.AuthorityHandler, Daan.Authority.Handler" />
    </httpHandlers>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <customErrors mode="Off" />
    <!--<sessionState mode="StateServer" cookieless="false" timeout="30" stateConnectionString="tcpip=localhost:42424" />-->
    <!--<httpRuntime requestValidationType="RequestValidatorDisabled" />-->
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="FastReportHandler" />
      <add name="FastReportHandler" path="FastReport.Export.aspx" verb="*" type="FastReport.Web.Handlers.WebExport" />
    </handlers>
    <modules>
      <remove name="HttpModule" />
      <add name="HttpModule" preCondition="managedHandler" type="TimeHelper.HttpModule, TimeHelper" />
      <add name="ExtAspNetScriptModule" type="ExtAspNet.ScriptModule, ExtAspNet"/>
    </modules>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>