<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PhysicalExaminationServiceSoap" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.shequ88.com/physicalexaminationservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PhysicalExaminationServiceSoap"
                contract="LisToShequ88.PhysicalExaminationServiceSoap" name="PhysicalExaminationServiceSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <!--<add key="hostName" value="\\192.168.6.6" />
    <add key="passWord" value="blpic" />
    <add key="userName" value="bl" />-->
    <add key="hostName" value="\\192.168.2.64" />
    <add key="passWord" value="tt" />
    <add key="userName" value="tt" />
    <add key="Exit" value="123"/>
    <add key="Time" value="120"/>
  </appSettings> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
