<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="prop.config"/>

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="providers.config"/>

  <database>   
    <provider name="oracleClient1.0"/>
    <!--<dataSource name="daan"  connectionString="data source=${datasource};user id=${userid};password=${password};Unicode=True"/>-->
    <dataSource name="daan" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=${datasource})(PORT=1555))(CONNECT_DATA=(SID=${database})));User Id=${userid};Password=${password};"/>
  </database>
  <sqlMaps>
    <sqlMap resource="mapconfig/Common.xml" /><!--系统公用-->
    <!--<sqlMap resource="mapconfig/Common11.xml" />-->
    <!--系统公用-->
  </sqlMaps>

</sqlMapConfig>