<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--<add key="userid" value="lisdev" />
  <add key="password" value="dev" />
  <add key="database" value="oratest" />
  <add key="datasource" value="202.116.104.40" />-->
  <!--<add key="userid" value="lisprod" />
  <add key="password" value="prod" />
  <add key="database" value="lims" />
  <add key="datasource" value="202.116.104.5" />-->
  <!--<add key="userid" value="pestest2" />
  <add key="password" value="test" />
  <add key="database" value="oratest" />
  <add key="datasource" value="202.116.104.40" />-->
  <add key="userid" value="lisprod" />
  <add key="password" value="prod" />
  <add key="database" value="lims" />
  <add key="datasource" value="180.168.25.170" />
</settings> 

