<?xml version="1.0"?>
<configuration>
  <!-- log4net的定义 -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="daan.ui.main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名开头-->
      <param name="File" value="Logs\\" />
      <!--是否追加到文件-->
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <!--日志文件格式-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--按照文件的大小进行变换日志文件-->
      <!--<param name="RollingStyle" value="Size" />-->
      <!--我这里按照日期-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CenterServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxBufferSize="67108864" maxReceivedMessageSize="67108864"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="67108864"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PhysicalExaminationServiceSoap" closeTimeout="00:30:00"
          openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxBufferSize="67108864" maxReceivedMessageSize="67108864"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="67108864"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="RouteSpecimenServiceHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.shequ88.com/PhysicalExaminationService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PhysicalExaminationServiceSoap"
        contract="ServiceReference.PhysicalExaminationServiceSoap" name="PhysicalExaminationServiceSoap" />
      <endpoint address="http://tj.daanhealth.com:778/CenterService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CenterServiceSoap"
        contract="SendOrdersToLis.CenterServiceSoap" name="CenterServiceSoap" />
      <endpoint address="http://183.63.99.82:9999/Yunk/services/RouteSpecimenService"
        binding="basicHttpBinding" bindingConfiguration="RouteSpecimenServiceHttpBinding"
        contract="ServiceToAPP.RouteSpecimenServicePortType" name="RouteSpecimenServiceHttpPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="UserName" value="440100112" />
    <!--440100112-->
    <add key="Password" value="zhouy" />
    <add key="Operator" value="admin" />
    <add key="Exit" value="123" />
    <add key="path" value="E:\work\体检\SourceCode\daan.web\admin\report\reportTemplate\" />
    <add key="UploadFileDetail" value="E:\work\pes\SourceCode\daan.web\admin\upload\ExcelFiles\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NewJsonFilesPath" value="E:\JsonFiles\newfiles"/>
    <add key="OldJsonFilesPath" value="E:\JsonFiles\oldlfiles"/>
    <add key="ExcJsonFilesPath" value="E:\JsonFiles\exclfiles"/>
    <add key="NoCacheTestCode" value="SH0035,SH0036"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <daan.ui.main.Properties.Settings>
      <setting name="daan_ui_main_ServiceByKangSource_TestItemUniquecodeCompareService"
        serializeAs="String">
        <value>http://192.168.2.66:8080/NIP/webservice/testItemUniquecodeCompareService</value>
      </setting>
    </daan.ui.main.Properties.Settings>
  </applicationSettings>
</configuration>