<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--<add key="userid" value="pestest" />
  <add key="password" value="test" />
  <add key="database" value="lims" />
  <add key="datasource" value="202.116.104.241" />-->
  <add key="userid" value="pesprod" />
  <add key="password" value="prod" />
  <add key="database" value="lims" />
  <add key="datasource" value="202.116.104.241" />
</settings>

