p,h1 {padding:0;margin:0;}
html {height:100%;overflow-x:hidden;overflow-y:hidden;}
body {padding:0;margin:0;background:url(../images/logo-2.jpg) no-repeat center 0 #d6dedf;font:12px/1.5 arial,tahoma,simsun}
.warp {position:relative;width:420px;height:420px;margin:140px auto 0}
.warp h1 {text-align:center;}
.warp .login {position:absolute;top:130px;left:105px;text-align:center; }
.warp .login label {font-size:14px}
.warp .login p {margin:10px 0;text-align:left; }
.warp .login p input {background:url(../images/log-pwd.gif) no-repeat 0 0 #fff;width:200px;bordeR:1px solid #7ea3b8;font-size:14px;padding:7px 0 7px 35px;}
.warp .login p input.txt {background-position:0 0;}
.warp .login p input.pwd {background-position:0 -30px;}
.warp .login p input.btn_log {background:url(../images/login.gif) no-repeat;border:none;width:74px;height:25px;color:#fff;margin-right:5px;  font-size:14px;padding:7px 0 7px 35px;}
.warp .login p input.btn_clear {background:url(../images/clear.gif) no-repeat;border:none;width:74px;height:25px;color:#fff;margin-right:5px;font-size:14px}
.vimg {vertical-align: bottom}
.warp .login p input.vtxt{bordeR:1px solid #7ea3b8;font-size:14px;padding:7px 0 7px 3px;background:#fff}
